body {
  font-family: Helvetica, sans-serif;
  width: 960px;
}

header {
  height: 100px;
}

main {
  width: 960px;
}

nav {
  width: 100%;
  background-color: #444;
}

nav img {
  display: inline-block;
}

nav ul {
  display: inline-block;
  vertical-align: top;
}

nav ul li {
  color: #999;
  display: inline-block;
  line-height: 70px;
  padding: 0 34px;
}

main ul {
  padding-left: 0px;
  font-size: 0;
}

main ul li {
  display: inline-block;
  margin: 30px 30px 30px 0px; 
}

main ul li:last-child {
  margin-right: 0px;
}

div {
  display: inline-block;
  width: 450px;
  margin-left: 25px;
}

h2 {
  font-size: 28px;
}

p {
  font-size: 18px;
  height: 340px;
  overflow: scroll;
}

button {
  font-size: 20px;
  padding: 10px 34px;
  background-color: #000;
  color: white;
}

footer {
  height: 100px;
  background-color: #444;
  margin-top: 30px;
}